{% extends 'base.html' %}

{% block title %} Wordplease {% endblock %}

{% block content %}

<div style="color:red">{{ error }}</div>

<h1 class="cover-heading">New Post</h1>

<br><br>


<form method="post" enctype='multipart/form-data' novalidate>
    {% csrf_token %}
    <div class="body bg-gray">
            {% for field in form %}
                <div class="form-group">
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
    </div>
    <div class="footer">
        <button type="submit" class="btn btn-lg btn-default">Add Post</button>
    </div>
</form>
<br>




{% endblock %}