{% extends 'base.html' %}
{% block content %}

<h1 class="cover-heading">Descripcion del post detallada </h1>

<br><br>

<ul class="list-group">
        <li class="list-group-item">
              <div class="media">
                      <div class="media-body">
                        {% if post.image %}
                           <img class="img-responsive" src="{{post.image.url}}" alt="...">
                        {% endif %}
                          <br>
                        <h3 class="list-group-item-heading">{{ post.title }}</h3>
                        <h4 class="list-group-item-heading">{{ post.subtitle }}</h4>
                          <br>
                        <div class="media-left">
                            <p class="list-group-item-text">{{ post.owner.first_name }} {{ post.owner.last_name }}</p>
                            <p class="list-group-item-text">{{ post.date_public }}</p>
                        </div>
                        <div class="media-right">
                            <p class="list-group-item-text">
                                Categories:
                                {% for category in post.categories.all %}
                                     {{ category.name }}
                                {% endfor %}

                            </p>
                        </div>

                          <br>
                        <p class="list-group-item-text">{{ post.description }}</p>
                      </div>
              </div>
          </li>
</ul>


{% endblock %}
